h1 {
    text-align: center;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

img {
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-image: linear-gradient(to bottom right,#a0d2eb,#e5eaf5,#d0bdf4,#8458b3, #a28089);
}

